<ion-view can-swipe-back="true" ng-controller="profileController">
    <ion-content class="has-header has-footer">

        <div class="profile-section">
            <div class="row">
                <img class="profile-pic" ng-src="{{getPicture(employee.id)}}" onerror="this.src='img/default-user.jpg'" />
            </div>
            <div class="row" ng-if="employee.name.full">
                <div class="profile-name">{{employee.name.full}}</div>
            </div>
            <div class="row" ng-if="employee.title">
                <div class="profile-name-data">{{employee.title}}</div>
            </div>
            <div class="row" ng-if="employee.organization.segment">
                <div class="profile-name-data">{{employee.organization.segment}}</div>
            </div>
            <div class="row" ng-if="employee.organization.name">
                <div class="profile-name-data">{{employee.organization.name}}</div>
            </div>
            <div class="row" ng-if="employee.addresses[0]">
                <div class="profile-name-data" ng-bind="getAddressLocalityRegion(employee.addresses[0])"></div>
            </div>
        </div>
        <div class="profile-section profile-contact">
            <div class="row" ng-if="employee.emails[0]">
                <div class="profile-item">
                    <span class="profile-label">EMAIL</span>
                    <div class="profile-data-links profile-data profile-email" ng-click="actionSendEmail(employee.emails[0])">
                        <i class="icon purple-icon icon-email"></i>
                        <span class="bold-purple" ng-bind="getEmail(employee.emails[0])"></span>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="employee.emails[0]">
                <div class="profile-item">
                    <span class="profile-label profile-jabber">JABBER</span>
                    <div class="profile-data-links profile-data" ng-click="actionSendJabber(employee.emails[0])">
                        <i class="icon purple-icon icon-jabber"></i>
                        <span class="bold-purple" ng-bind="getJabber(employee.emails[0]) "></span>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="employee.phoneNumbers.work">
                <div class="profile-item">
                    <span class="profile-label ">DESK PHONE</span>
                    <div class="profile-data-links profile-data " ng-click="actionCallPhone(employee.phoneNumbers.work[0])">
                        <i class="icon purple-icon icon-phone"></i>
                        <span class="bold-purple">{{employee.phoneNumbers.work[0]}}</span>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="employee.phoneNumbers.mobile">
                <div class="profile-item">
                    <span class="profile-label">MOBILE PHONE</span>
                    <div class="profile-data-links profile-data" ng-click="actionCallPhone(employee.phoneNumbers.mobile[0])">
                        <i class="icon purple-icon icon-mobile"></i>
                        <span class="bold-purple">{{employee.phoneNumbers.mobile[0]}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
          <div class="row" ng-if="employee.addresses[0].hasStreetAddress">
              <div class="profile-item address">
                  <span class="profile-label office-address">OFFICE ADDRESS</span>
                  <div class="profile-data bold-purple" ng-click="actionGetDirections(employee.addresses[0])">
                      <span  ng-bind="getAddress(employee.addresses[0])"></span>
                  </div>
                  <a target="_blank" class="nbcu-directions-link" ng-click="actionGetDirections(employee.addresses[0])">Get Directions</a>
              </div>
          </div>
        </div>
        <div class="profile-section">
            <div class="row" ng-if="managers || hrmanagers || directReports">
                <span class="profile-team-name" ng-bind="getTeam(employee.name)"></span>
            </div>
            <div class="row" ng-if="managers.length > 0">
                <span class="profile-team-role">REPORTS TO</span>
            </div>
            <ion-list ng-if="managers">
                <ion-item class="item-avatar item-icon-right item-borderless profile-team-row" ng-repeat="manager in managers" type="item-text-wrap" href="{{getProfileURL(manager.id)}}">
                    <img ng-src="{{getPicture(manager.id)}}" onerror="this.src='img/default-user.jpg'" />
                    <div class="search-result profile-team">
                        <div class="search-result-title" ng-bind-html="getTeamMemberName(manager)"></div>
                        <div class="search-result-data" ng-bind-html="getTeamMemberTitle(manager)"></div>
                        <div ng-if="manager.email.length" class="search-result-data profile-email" ng-click="actionSendEmail(manager.email)">
                            <span class="search-result-email"><i class="icon-email"></i>{{manager.email}}</span>
                        </div>
                        <div ng-if="manager.businessphone.length" class="search-result-data profile-data-links profile-data" ng-click="actionCallPhone(manager.businessphone)">
                            <span class="search-result-phone"><i class="icon-phone"></i>{{manager.businessphone}}</span>
                        </div>
                    </div>
                    <!-- <i class="icon ion-chevron-right"></i> -->
                </ion-item>
            </ion-list>
            <div class="row" ng-if="hrmanagers.length > 0">
                <span class="profile-team-role">HR MANAGER</span>
            </div>
            <ion-list ng-if="hrmanagers">
                <ion-item class="item-avatar item-icon-right item-borderless profile-team-row" ng-repeat="hrmanager in hrmanagers" type="item-text-wrap" href="{{getProfileURL(hrmanager.id)}}">
                    <img ng-src="{{getPicture(hrmanager.id)}}" onerror="this.src='img/default-user.jpg'" />
                    <div class="search-result profile-team">
                        <div class="search-result-title" ng-bind-html="getTeamMemberName(hrmanager)"></div>
                        <div class="search-result-data" ng-bind-html="getTeamMemberTitle(hrmanager)"></div>
                        <div ng-if="hrmanager.email.length" class="search-result-data profile-email" ng-click="actionSendEmail(hrmanager.email)">
                            <span class="search-result-email"><i class="icon-email"></i>{{hrmanager.email}}</span>
                        </div>
                        <div ng-if="hrmanager.email.length" class="search-result-data profile-data-links profile-data" ng-click="actionCallPhone(hrmanager.businessphone)">
                            <span class="search-result-phone"><i class="icon-phone"></i>{{hrmanager.businessphone}}</span>
                        </div>
                    </div>
                    <!-- <i class="icon ion-chevron-right"></i> -->
                </ion-item>
            </ion-list>
            <div class="row" ng-if="directReports.length > 0">
                <span class="profile-team-role">DIRECT REPORTS</span>
            </div>
            <ion-list ng-if="directReports">
                <ion-item class="item-avatar item-icon-right item-borderless profile-team-row" ng-repeat="directReport in directReports" type="item-text-wrap" href="{{getProfileURL(directReport.id)}}">
                    <img ng-src="{{getPicture(directReport.id)}}" onerror="this.src='img/default-user.jpg'" />
                    <div class="search-result profile-team">
                        <div class="search-result-title" ng-bind-html="getTeamMemberName(directReport)"></div>
                        <div class="search-result-data" ng-bind-html="getTeamMemberTitle(directReport)"></div>
                        <div ng-if="directReport.email.length" class="search-result-data profile-email" ng-click="actionSendEmail(directReport.email)">
                            <span class="search-result-email"><i class="icon-email"></i>{{directReport.email}}</span>
                        </div>
                        <div ng-if="directReport.businessphone.length" class="search-result-data profile-data-links profile-data" ng-click="actionCallPhone(directReport.businessphone)">
                            <span class="search-result-phone"><i class="icon-phone"></i>{{directReport.businessphone}}</span>
                        </div>
                    </div>
                    <!-- <i class="icon ion-chevron-right"></i> -->
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
</ion-view>
