* {
  line-height: 1.5;
}

body {
    font-family: rock-sans-normal;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.title .title-center .header-item {

}

.logo {
  padding-bottom: 6px;
}

.nav-bar-title {

}

.bar .title {
  height: 55px;
  text-align: center;
}

/*.platform-android*/
/*.platform-android*/

.bar .title {
  text-align: center;
}

.bar-header {
  border-bottom-width: 0px;
}

.bar-subheader {
  top: 55px;
}

.list {

}

.contact {
    margin: 0px 0px 20px 0px !important;
    padding: 0px !important;
}

.white-icon {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold !important;
    padding-top: 4px;
}

.purple-icon {
    color: #462d89;
    font-size: 15px;
    font-weight: bold !important;
    padding-right: 5px;
}

.button.back-button {
    background-color: white;
}

span.back-text {
    display: none !important;
}

.bar-footer {
    background: #000000;
    color: #ffffff;
}

.platform-android .filter-bar {
    top: 98px;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.platform-ios .filter-bar {
    margin-top: 44px;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bar.bar-subheader.bar-light.filter-bar {
  background-color: #eef0f3;
  height: 48px;
}

.bar.bar-subheader.bar-light.filter-bar a {
  line-height: 52px;
}

.filter-bar > a {
    text-decoration: none;
}

.search-bar {
    background-color: #00a8a7;
    border: 0px solid #00a8a7;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search-form {
    width: 100% !important;
    padding: 0px;
    margin: 0px;
    line-height: normal;
    background-color: #00a8a7;
}

.search-wrapper {
    background-color: #00a8a7;
    width: 100%;
    padding-top: 0px;
    margin: 0px;
    margin-top: -2px;
}

.search-control {
    background-color: #00a8a7;
    width: 100%;
    padding-left: 5px !important;
    padding-top: 0px !important;
    font-size: 20px !important;
    color: #ffffff;
    line-height: normal;
    margin: 0px;
    color: #ffffff;
}

input[type="search"].search-control {
  color: #ffffff;
}

.search-input::-moz-placeholder {
    font-size: 20px;
    font-family: rock-sans-normal;
    color: #a7b6c0;
    line-height: normal;
}

input::-webkit-input-placeholder {
    font-size: 20px;
    font-family: rock-sans-normal;
    color: #a7b6c0;
    line-height: normal;
}

input:-moz-placeholder {
    font-size: 20px;
    font-family: rock-sans-normal;
    color: #a7b6c0;
    line-height: normal;
}

input::-moz-placeholder {
    font-size: 20px;
    font-family: rock-sans-normal;
    color: #a7b6c0;
    line-height: normal;
}

input:-ms-input-placeholder {
    font-size: 20px;
    font-family: rock-sans-normal;
    color: #a7b6c0;
    line-height: normal;
}

.has-subheader.scroll-content.ionic-scroll.overflow-scroll.has-header.has-footer {
  top: 136px;
}

.has-subheader.scroll-content.ionic-scroll.has-header.has-footer {
  top: 145px;
  bottom: 47px;
}

/*.has-header {
  top: 136px;
}*/

.filter-pane {
  background-color: rgba(64, 60, 95, 0.98);
}

.filter-pane .nav-bar-container .bar-header {
  background-color: #3c385c;
  color: #ffffff;
  height: 55px;
}

.filter-pane .nav-bar-container .bar-header .button.back-button {
  background-color: #3c385c;
  color: #ffffff;
}

.filter-pane .nav-bar-container .bar-header .title.title-left.header-item {
  top: 5px;
  /*left: 0px !important;*/
  text-align: center;
}

.filter-pane .has-subheader.filter-pane-content.scroll-content.ionic-scroll.overflow-scroll.has-header.has-footer {
  top: 75px;
  padding-left: 20px;
  padding-right: 20px;
}

.filter-pane .has-subheader.filter-pane-content.scroll-content.ionic-scroll.overflow-scroll.has-header.has-footer .button.button-full.bar-light {
  background-color: #a8e9f4;
  color: #ffffff;
  font-family: 'Rock-SansBold';
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.search-result {}

.search-result-title {
    font-family: rock-sans-bold;
    font-size: 18px;
    padding-bottom: 5px;
}

.search-result-data {
    font-family: rock-sans-normal;
    font-size: 15px;
}

.item-content {
    height: auto;
}

.item-avatar {
    min-height: auto;
}

.item-avatar .item-content>img:first-child {
    max-width: 65px;
    max-height: 65px;
}

.item-complex .item-content {
    padding-left: 100px;
}

.copyright {
    font-weight: normal;
}

.profile-section {
    margin: auto;
    padding: 5px;
}

.profile-pic {
    border-radius: 50%;
    margin: auto;
    width: 125px;
    height: 125px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
}

.profile-name {
    font-family: rock-sans-bold;
    font-size: 24px;
    color: #000000;
    padding-top: 12px;
    text-align: center;
    margin: auto;
}

.profile-name-data {
    font-family: rock-sans-normal;
    color: #000000;
    padding-top: 5px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

.profile-contact {
    background-color: #f2f2f2;
}

.profile-item {
    padding: 10px;
    margin: auto;
    width: 100%;
}

.profile-label {
    font-family: rock-sans-bold;
    font-size: 16px;
    color: #462d89;
    margin-bottom: 0px;
}

.profile-data {
    color: #000000;
    font-family: rock-sans-normal;
    font-size: 18px;
}

.profile-address {
    color: #000000;
    font-family: rock-sans-normal;
    font-size: 16px;
}

.profile-address-directions {
    color: #000000;
    font-family: rock-sans-normal;
    font-size: 15px;
    float: right !important;
}

.profile-team-name {
    font-family: rock-sans-bold;
    font-size: 24px;
    color: #462d89;
    padding: 0px;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.profile-team-role {
    font-family: rock-sans-normal;
    font-size: 18px;
    color: #462d89;
    padding-top: 5px;
    padding-bottom: 5px;
}
